.navbar{
    margin: 0px;
    padding: 0px;
  }
  

 

.navlogo {
  height: 50px;
 
  vertical-align: middle;
  border: 2px solid white;
}

.collapse.navbar-collapse{
  margin: 10px 0px;
  padding: 0%;
 
}

.nav-link{
  /* border: 1px solid black; */
  margin: 0px 10px;
  padding: 0%;
  
  cursor: pointer;
  color: black;
  
}



.btn-sm:hover,
.nav-link:hover {
  border: 1px solid white;
  background-color: black;
  color: white;
}
.nav-link.active { /* Increased specificity */
  background-color: black;
  color: white;
}







/* .nav-link{
  margin:10px;
  /* border-radius: 100px; */
  /* color: black;
  border: 1px solid black;
}

.nav-link:hover{
  color: white;
  background-color: black;

}

.nav-link:visited{
  color: white;
  background-color: black;

}
.nav-tem:active{
  background-color: black;
}  */






